@page "/"

<PageTitle>Home</PageTitle>

<button>Get Today Time</button>

@code{

	public class DateTime
	{
		public int error { get; set; }
		public string error_message { get; set; }
		public DateTime time { get; set; }
		public string timezone { get; set; }
		public int offset { get; set; }
		public string daylight_savings{ get; set; }

	}
}